.container{
	width: 520px;
	height: 300px;
	padding: 20px;
}
.container input{
    border: 1px solid #E6E6E6;
    height: 3.3em;
    display: block;
    padding-left: 2em;
}
input{
	margin-top: 20px!important;
}
.container input[type="tel"]{
	 width: 85%;
	 margin: 0 auto;
}
.container input[type="email"]{
	 width: 85%;
	 margin: 0 auto;
}
.container input[type="password"]{
	 width: 85%;
	 margin: 0 auto;
}
.container input[type="text"]{
	width:55% ;
	display: inline-block;
}
.btn{
    height: 2.5em;
    width: 175px;
    border: 2px solid #000000;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    line-height: 2.3em;
    margin-top: 2px;
    margin-left: 15px;
    border-radius: 4px;
	cursor: pointer;
}
form>div{
	margin: 0 7%;
}
#toregister{
    cursor: pointer;
}